[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
click = "*"
"beautifulsoup4" = "*"
influxdb = "*"
aiohttp = "*"
coloredlogs = "*"
idna-ssl = "*"
geotext = "*"

[dev-packages]
argus = {editable = true, path = "."}
pylint = "*"
"autopep8" = "*"
pytest = "*"
httpretty = "*"

[requires]
python_version = "3.6"
